<div id="templatemo_footer">
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>. Powered by <a href="http://www.refinerycms.com" >Refinery CMS</a>
</div>
