<div id="site_title">
  <h1 id='logo'><%= link_to Refinery::Core.site_name, refinery.root_path %></h1></div>

<div id="twitter"><a href="http://www.facebook.com/Nikolay.casper" target="_blank"></a></div>

<div id="templatemo_menu">
  <%= render(:partial => "/refinery/menu", :locals => {
          :dom_id => 'menu',
          :css => 'menu'
  }) %>
</div> <!-- end of templatemo_menu -->
